/* @page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: "Roboto", "Helvetica Neue", "Material Icons", Helvetica, Arial, sans-serif;
    white-space: pre;
    color: grey;
    font-size: 10px;

    @top-left {
        font-weight: bold;
        content: 'emCode User Manual';
    }

    @top-right {
        content: string(chapter);
    }

    @bottom-left {
        content: '© Rei Vilo, 2010-2026 • All rights reserved \a Document subject to change without prior notice';
    }

    @bottom-right {
        content: 'Page ' counter(page);
    }
} */

.md-typeset pre>code {
    white-space: pre-wrap;
    word-break: keep-all;
}

/* .md-typeset p {
    font-size: 1.2em;
    line-height: 1.5em;
} */

/* Border for images */
/*
.md-typeset img {
    display: block;
    margin: auto;
    height: auto;
    width: auto;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    background-color: #fff;
}
*/

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    color: red;
    font-weight: bold;
}

.md-typeset__scrollwrap {
    text-align: center;
    width: 90%;
    margin: auto;
} 

.md-typeset__table {
    width: 100%;
    table-layout: fixed;
}

/* .md-typeset table {
    width: 100%;
    table-layout: fixed;
} */

.md-typeset figcaption {
    font-style: italic;
    margin: 1em auto;
    max-width: 24rem;
    font-size: 0.9em;
    color: grey;
}

table {
    width: 100%;
    table-layout: fixed;
}

.box80 {
    width:80% !important;
    margin:auto !important;
}

.box60 {
    width:60% !important;
    margin:auto !important;
}


