/* @page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: "Roboto", "Helvetica Neue", "Material Icons", Helvetica, Arial, sans-serif;
    white-space: pre;
    color: grey;
    font-size: 10px;

    @top-left {
        font-weight: bold;
        content: 'emCode User Manual';
    }

    @top-right {
        content: string(chapter);
    }

    @bottom-left {
        /*#        content: '© 2018 My Company';*/
        /*#    }*/
        /*#    @top-center {*/
        content: '© Rei Vilo, 2010-2025 • All rights reserved \a Document subject to change without prior notice';
    }

    @bottom-right {
        content: 'Page ' counter(page);
    }
} */

/* Border for images */
.md-typeset img {
    height: auto;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    color: red;
    font-weight: bold;
}

